*{
  margin: 0 !important;
  cursor: none;

}

body{
  background: #000;
}

.leftBar{
  width: 30vh;
  height: 100vh;
 background-color: #17182f;
  float: left;
  cursor: auto;
  border-right: 2px solid #fff;
}


.rightBar{
  width: 30vh;
  height: 100vh;
 background-color: #17182f;
  float: right;
  cursor: auto;
  border-left: 2px solid #fff;
}

.leftBar a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background: none;
  padding: 20px;
}
.neon {
  grid-area: NEON;
  z-index: 2;
  font-family: 'Mr Dafoe', cursive;
  font-size: 50px;
  font-weight: 100;
  color: #fff;
  -webkit-filter: drop-shadow(0 0 22px #000);
          filter: drop-shadow(0 0 22px #000);

  -webkit-transform: rotateZ(-15deg);
          transform: rotateZ(-15deg);

}
.neon a:hover {

  color: #f29;


}
