body{
  margin: 0 !important;
  background: black;
}

.herotext{
  color:white;
  position: absolute;
  top: 35%;
  left: -10%;
  font-family: 'Saira', sans-serif;
	font-weight: 700;
  display: block;
   background: linear-gradient(to bottom,  #00f2ff 0%,#e2fbff 50%,#0a343f 51%,#0094f7 100%);
   background-blend-mode: multiply;
   background-repeat: repeat;
   line-height: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg);
  -webkit-filter: drop-shadow(0 0 40px #12208a);
        filter: drop-shadow(0 0 40px #12208a);
}


.container{
  width: 80%;
  height: 100%;
  background: black;
  margin-left: auto;
  margin-right: auto;
}

.marquee {
  color: white;
  overflow: hidden;
  height: 80%;

}
.marquee div {
  position: relative;
  height: 80%;
  text-align: justify;
  animation: CSSmarquee linear 20s;
  animation-fill-mode: forwards;
  font-family: 'Orbitron', sans-serif;

}

@keyframes CSSmarquee {
  0% { top: 100%}
  100% { top: -100%}
}

.marquee:hover div {
  animation-play-state: paused;
}


.li {
  float: left;
  width: 80%;
  margin: 1% 10%;
  height: 80%;
}

.li span{
  color: #00f2ff;
  font-style: italic;
}

#foo_1 a{
  position: absolute;
  top: 90%;
  left: 75%;
  width: 10%;
  padding: 20px;
  font-size: 16px;
  color: #000;
  padding: 10px 20px;
  color: #ddd;
  text-shadow: 1px -2px  0px black;
  background: linear-gradient(#000,#2d97d8,#fff,#000,#FD00FF,#fff);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;

}

#foo_1 a i{
  float: right;
}

#foo_1 a:hover{
  transform: scale(1.1);
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(0,249,255,1);
  text-decoration: none;

}



#foo_2 a{
  position: absolute;
  top: 90%;
  left: 75%;
  width: 10%;
  padding: 20px;
  font-size: 16px;
  color: #000;
  padding: 10px 20px;
  color: #ddd;
  text-shadow: 1px -2px  0px black;
  background: linear-gradient(#000,#2d97d8,#fff,#000,#FD00FF,#fff);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;
}

#foo_2 a i{
  float: right;
}


#foo_2 a:hover{
  transform: scale(1.1);
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(0,249,255,1);
  text-decoration: none;

}

.info {
  color: #00f2ff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px;

}
