body {
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  background: black;
  color: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
        flex-direction: column;
  -webkit-box-align: center;
        align-items: center;
  -webkit-box-pack: center;
        justify-content: center;
}

.container {
  display: grid;
  grid-template: "...   NEON" auto "SYNTH SYNTH" auto / 300px   auto;
}

.neon {
  grid-area: NEON;
  z-index: 2;
  font-family: 'Mr Dafoe', cursive;
  font-size: 165px;
  font-weight: 100;
  color: #fff;
  -webkit-filter: drop-shadow(0 0 22px #000);
          filter: drop-shadow(0 0 22px #000);
  line-height: 1;
  margin-bottom: -90px;
  margin-top: 100px;
  -webkit-transform: rotateZ(-15deg);
          transform: rotateZ(-15deg);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.synth {
  grid-area: SYNTH;
  line-height: 1;
  -webkit-filter: drop-shadow(0 0 40px #12208a);
          filter: drop-shadow(0 0 40px #12208a);
}
.synth[data-text] {
  display: inline-block;
  font-size: 150px;
  font-weight: normal;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  letter-spacing: .065em;
  position: relative;
  margin: 10px;
}
.synth[data-text]:before {
  content: attr(data-text);
  text-shadow: 0 0 50px #12208a;
  background: linear-gradient(206deg, #3346bc 0%, #b7e3fe 20%, #3346bc 40%, #b7e3fe 60%, #3346bc 80%, #b7e3fe 100%);
  -webkit-text-stroke: 10px transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 10px;
}
.synth[data-text]:after {
  padding: 10px;
  content: attr(data-text);
  left: 0;
  top: -10px;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(33%, #3557c6), color-stop(45%, white), color-stop(45%, black), color-stop(66%, #7f158f), color-stop(85%, white));
  background-image: linear-gradient(to bottom, black 0%, #3557c6 33%, white 45%, black 45%, #7f158f 66%, white 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

figure {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripes-wraper {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  filter: drop-shadow(0 0 20px #F29);
  overflow: hidden;
  position: absolute;
}

.stripe {
  width: 100%;
  height: 15px;
  background-color: #fff;
  animation: scroll 1s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateY(-30px);
  }
}
.stripe + .stripe {
  margin-top: 15px;
}

.gradient-mask {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #92F 0%, #F29 100%);
  mix-blend-mode: multiply;
  position: absolute;
}

figcaption {
  color: #EEE;
  position: fixed;
  right: 20px;
  bottom: 10px;
}

a {
  color: #F29;
  text-decoration: none;
}

.menu {
margin-left: auto;
margin-right: auto;
list-style: none;
display: inline-block;
text-align: center;
padding: 10px;



}

nav {
  position: absolute;
  z-index: 10;
  bottom: 80%;
}

nav ul li {
  display: inline-block;
  padding: 30px;


}
nav ul li:hover{
  transform: scale(1.2);

}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;

}
nav ul li a:hover {
  text-decoration: none;
  color: #92F;
  font-size: 25px;

}


audio {
  bottom: 10%;
  width: 400px;
  height: 35px;

}

.info {
  position: absolute;
  top: 90%;
  right: 5%;
}
.info span {
    color: #f29;
}


#topline {

  height: 3%;
  width: 100%;
  top:100%;
  background: #f29;


}
#bottomline {

  height: 3%;
  width: 100%;
  top:0%;
  background: #f29;

}
